# Frontend
pesca-pro/node_modules/
pesca-pro/dist/
pesca-pro/.env

# Backend
PescaPro-Back/express-docker-backend/node_modules/
PescaPro-Back/express-docker-backend/.env
PescaPro-Back/express-docker-backend/npm-debug.log*

# Docker
postgres_data/
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db