.home {
  position: relative;
  min-height: 100vh;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

}

.hero {
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  padding: 0 16px;
  width: 50vw;
}

.hero-content h1 {
  font-size: clamp(2rem, 4vw + 1rem, 4rem);
  font-weight: 700;
}

.hero-content span {
  font-size: 22px;
}